<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key ="ponchePath" value = "../../Ponches.txt"/>
      <add key ="nominaPath" value = "../../Nomina.txt"/>
      <add key ="outPath" value = "../../Resultado.txt"/>
    </appSettings>
</configuration>